/*** footer ***/
.footer {
  background: #e7ecff;
  padding: 60px 0 32px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
}

.footer__branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__branding__date {
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: #939ea4;
}

.footer__branding__logo {
  font-weight: 900;
  font-size: 26px;
  color: #37447e;
}

.footer__branding__label {
  width: 110px;
  background: var(--color-dark);
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-xs);
  color: #ffffff;
  border-radius: 2px;
  padding: 5px 0;
}

.footer__hr {
  background: #cdd1d4;
  margin: 40px 0 20px;
  height: 1px;
  border: 0;
}

.footer__links {
  font-size: var(--font-size-sm);
  color: #929ecc;
}

.footer__links ul {
  display: flex;
}

.footer__links li {
  margin-right: 60px;
}

.footer__links a {
  color: #929ecc;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__social__link {
  width: 16px;
  height: 16px;
}

.footer__social__link:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .footer__navigation,
  .footer__branding,
  .footer__links ul {
    flex-direction: column;
  }

  .footer__branding > * {
    margin-bottom: 15px;
  }

  .footer__links li {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
