/*** header ***/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.header__menu {
  display: none;
  width: 32px;
  cursor: pointer;
}

.header__menu > img {
  max-width: 100%;
}

.header__menu-icon {
  width: 40px;
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  font-size: var(--font-size-sm);
}

.header__nav-item:not(:last-child) {
  margin-right: 60px;
}

.header__title {
  font-weight: 900;
  font-size: 1.62rem;
  color: #37447e;
}

.header__buy-now {
  width: 160px;
  height: 26px;
  background: var(--color-dark);
  border-radius: 2px;
  color: #ffffff;
  font-weight: 500;
  font-size: var(--font-size-xs);
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    z-index: 10;
  }

  .header__menu {
    display: block;
  }

  .header__buy-now {
    display: none;
  }

  .header__nav {
    background: #e7ecff;
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    clip-path: circle(0 at top left);
    transition: clip-path 0.9s ease-in;
  }

  .header__nav.open {
    clip-path: circle(1000px at top);
  }

  .header__nav ul {
    flex-direction: column;
    height: 100%;
  }

  .header__nav .header__nav-item {
    margin-right: 0;
    padding-top: 10vh;
    flex: 1;
  }

  .header__nav a {
    font-weight: 500;
    display: block;
    font-size: 32px;
  }
}
