body {
  background: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  color: #505f98;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #505f98;
}

button {
  border: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

/*** variables ***/
:root {
  --color-dark: #111b47;
  --color-font-dark: #091133;

  --font-size-normal: 16px;
  --font-size-small: 14px;
  --font-size-tiny: 12px;
}

/*** global classes ***/

.title {
  font-weight: 500;
  font-size: 36px;
  color: var(--color-font-dark);
  margin-bottom: 16px;
  line-height: 48px;
}

.paragraph {
  font-size: var(--font-size-normal);
  line-height: 26px;
  color: #6f7cb2;
  margin-top: 6px;
}

.img-container {
  max-width: 100%;
}

/*** header ***/
.header {
  /* background-image: url(../images/hero-image.svg); */
  /* background-repeat: no-repeat; */
  /* background-position: right top; */
  /* background: url(../images/hero-image.svg) no-repeat right top; */
  min-height: 1103px;
  overflow: hidden;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }

  .header__container > * {
    margin-top: 20px;
  }
}

.header__menu-icon {
  width: 40px;
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  font-size: var(--font-size-small);
}

.header__nav-item:not(:last-child) {
  margin-right: 60px;
}

.header__title {
  font-weight: 900;
  font-size: 26px;
  color: #37447e;
}

.header__buy-now {
  width: 160px;
  height: 26px;
  background: var(--color-dark);
  border-radius: 2px;
  color: #ffffff;
  font-weight: 500;
  font-size: var(--font-size-tiny);
}

/*** hero ***/
.hero__container {
  padding-top: 250px;
  position: relative;
}

.hero__inner {
  max-width: 540px;
}

@media screen and (max-width: 768px) {
  .hero__inner {
    margin: 0 auto;
  }
}

.hero__illustration {
  position: absolute;
  top: -10%;
  right: -720px;
  z-index: -1;
}

.hero__illustration > img {
  max-width: 100%;
}

.hero__heading {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: var(--color-font-dark);
  margin-bottom: 20px;
}

.hero__paragraph {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 30px;
}

.hero__bottom {
  margin-top: 70px;
  display: flex;
  align-items: center;
}

.hero__button {
  width: 189px;
  height: 36px;
  font-weight: 500;
  font-size: var(--font-size-normal);
  color: white;
  background: var(--color-dark);
  border-radius: 2px;
}

.hero__button.outlined {
  background: transparent;
  color: var(--color-font-dark);
  border: 2px solid var(--color-font-dark);
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    padding-top: 50px;
  }

  .hero__illustration {
    display: none;
  }

  .hero__bottom {
    flex-direction: column;
  }

  .hero__button {
    font-size: 20px;
    width: 249px;
    height: 48px;
  }

  .hero__button.outlined {
    margin-left: 0;
    margin-top: 20px;
  }
}

/*** intro sections ***/
.intro {
  margin-top: 220px;
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 40px;
  }
}

.intro:first-child {
  margin-top: 120px;
}

.intro > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .intro > .container {
    flex-direction: column;
  }
}

.intro__inner {
  max-width: 445px;
}

.intro__image {
  max-width: 100%;
  margin-bottom: 20px;
}

/*** pricing ***/
.pricing {
  text-align: center;
  margin: 105px 0 56px;
  /* background-image: url(../images/blot.svg); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: auto 100%; */
  background: url(../images/blot.svg) no-repeat center / auto 100%;
}

.pricing__container {
  max-width: 600px;
  padding-top: 204px;
  padding-bottom: 208px;
  margin: auto;
}

.pricing__price {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #222f65;
  margin-top: 35px;
}

.pricing__label {
  font-size: var(--font-size-normal);
  line-height: 26px;
  text-align: center;
  color: #222f65;
  margin-bottom: 60px;
}

.pricing__buy__text {
  font-size: var(--font-size-small);
  color: #5d6970;
  margin-bottom: 10px;
}

.pricing__buy__button {
  width: 190px;
  height: 32px;
  background: var(--color-dark);
  border-radius: 2px;
  color: #ffffff;
  font-size: var(--font-size-small);
}

/*** footer ***/
.footer {
  background: #e7ecff;
  padding: 60px 0 32px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
}

.footer__branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__branding__date {
  font-weight: 500;
  font-size: var(--font-size-small);
  color: #939ea4;
}

.footer__branding__logo {
  font-weight: 900;
  font-size: 26px;
  color: #37447e;
}

.footer__branding__label {
  width: 110px;
  background: var(--color-dark);
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-tiny);
  color: #ffffff;
  border-radius: 2px;
  padding: 5px 0;
}

.footer__hr {
  background: #cdd1d4;
  margin: 40px 0 20px;
  height: 1px;
  border: 0;
}

.footer__links {
  font-size: var(--font-size-small);
  color: #929ecc;
}

.footer__links ul {
  display: flex;
}

.footer__links li {
  margin-right: 60px;
}

.footer__links a {
  color: #929ecc;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__social__link {
  width: 16px;
  height: 16px;
}

.footer__social__link:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .footer__navigation,
  .footer__branding,
  .footer__links ul {
    flex-direction: column;
  }

  .footer__branding > *{
    margin-bottom: 15px;
  }

  .footer__links li {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
